<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>	
	<connectionStrings>
		<add name="DBConnectionString" connectionString="Data Source=10.200.1.24 ;Initial Catalog=RiskProfilingDB;User ID=finserviceapi; password=B@nk@2022" providerName="System.Data.SqlClient"/>
		<add name="DBRiskProfiling" connectionString="Data Source=10.200.1.24 ;Initial Catalog=ProfilingV2;User ID=finserviceapi; password=B@nk@2022" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<appSettings>
		<!--RiskProfiling API-->
		<add key="profilingAPI" value="https://10.200.1.27:5008/"/>
		<add key="profilingUser" value="dfcugroup"/>
		<add key="profilingPass" value="RiskProfiling@123"/>
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.7.2" />
		<httpRuntime targetFramework="4.7.2" />
	</system.web>	
</configuration>